.navbar-container {
    display: flex;
    align-items: center;
    height: 50px;
    background-color:#c6213f;
   } 
  .navbar span{
    text-transform: uppercase;
    display: inline-grid;
    font-size: 1rem;
    font-weight: 500;
  }
  .navbar-logo{
      margin-left: 200px;
      font-weight: 500;
  }
  .logo{
    color: #fff;
    font-size: 1rem;
    align-items: center;
  }
  .navbar-container span{
    color: #fff;
  }
.row {
    --bs-gutter-x: 0rem !important;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
} 
  a{
    text-decoration: none!important;
  }
  .d-block {
    display: block !important;
   }
  .nav-menu {
    display: flex;
    grid-template-columns: repeat(4, auto);
    grid-gap: 30px;
    list-style: none;
    text-align: center;
    margin-top: 20px;
    width: 60%;
  
 }
  .nav-item {
    color:rgb(82, 8, 8);
  }
  .modal-header{
background-color: #dc3545;
  }
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #fff;
    font-weight: 700;
  }
  .nav-links {
    display: block;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 18px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
  }
  .btn_style{
      background: none!important;
      border: none!important;
      text-transform: uppercase;
      float: right;
      margin-right: 220px;
      
  }
  .btn_style a{
    color: #fff!important;
    font-weight: 500;
  }

  .nav-links:hover {
    color:#fff;
    opacity: 0.9;
  }
  
  .fa-bars {
    color: #fff;
  }
  .nav-links-mobile {
    display: none;
  }
  .menu-icon {
    display: none;
    position: absolute;
  }
  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    display: table;
    
  }
  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    text-align: center;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 1rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }

  [class*="col-"] {
    width: 100%;
  }
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  }

  @media screen and (max-width: 600px) {
    .nav-menu {
      display: none;
    }

  
  }
  



  
  
   